.row {
  margin-right: 0px;
}

.hero-content {
  padding-top: 100px;
}

.hero-image {
  padding: 50px 0px 0px 0px;
  position: relative;
}

.img-responsive {
  max-width: 100%;
  display: block;
  height: auto;
}

.services-content {
  padding-top: 100px;
}

.services_title {
  margin-bottom: 20px;
}

.checklist_text {
  padding-left: 20px;
}

.whyUs-content {
  padding-top: 150px;
}

.list-text {
  margin-left: 20px;
}

.card {
  margin-top: 30px;
}

.card-img-top {
  width: 70px;
  padding: 15px;
}

.card-title {
  padding-bottom: 10px;
}

.card-text {
  font-size: 15px;
}

.accordion-item {
  margin-bottom: 20px;
}

.blue-card-content {
  padding-top: 100px;
}

.FAQ-content {
  padding-top: 150px;
}

.footer-content {
  padding-top: 100px;
}

.slider-content {
  padding-top: 150px;
}

.slider {
  margin-bottom: 30px;
  position: relative;
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: #f1f3ff; /* fallback for old browsers */

  color: rgb(0, 0, 0);
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 70px 15px;
  border-radius: 3px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
  height: 200px;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
}
.img-slider {
  width: 50px;
}

.owl-carousel {
  overflow: hidden;
}

.owl-carousel .owl-item img {
  width: auto;
}

.owl-nav {
  margin: 24px 0 0;
  text-align: center;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
  margin: 0 20px;
  height: 32px;
  width: 32px;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 50px;
}

.owl-carousel .owl-nav button.owl-next:hover,
.owl-carousel .owl-nav button.owl-prev:hover {
  background: #5cb85f;
  border: none;
}

.testimonial {
  margin-top: 150px;
}

.bg-testimonial {
  overflow: hidden;
  position: relative;
  background-color: #e3d9ff;
  width: 100%;
  height: 270px;
  border-radius: 8px;
  background-color: aliceblue;
}

.img-testimonial {
  width: 80px;
  height: 80px;
}

.title {
  color: #fff;
  font-weight: 500;
  margin: 5px 0;
}

.star img {
  float: left;
  margin-bottom: 8px;
}

.desc-testi {
  position: relative;
  float: left;
  text-align: left;
  padding-right: 32px;
}

.desc-testi p {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 8px;
}

.user-testi {
  position: relative;
  float: left;
  text-align: left;
}

.user-testi p {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

@media only screen and (max-width: 820px){
  #whyUs h2{
      text-align: center;
  }
  .text_whyUs{
  text-align: center;
  }
  #FAQ h2{
    text-align: center;
  }
  .text_FAQ{
    text-align: center;
    padding-bottom: 20px;
  }
  #ourService_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80%;
  }
  #services p{
    text-align: justify;
  }
  .our_services{
    margin-top: 30px;
  }
  
}


@media only screen and (min-width: 1024px){
  
}

@media only screen and (max-width: 414px){
  .hero-image{
    margin-left: 15px;
  }
  /*.star {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 50%;
  }*/
  .owl-carousel{
    margin-right: auto;
    margin-left: auto;
    width: 370px;
  }
  .register{
    margin-top: 20px;
  }
}